Source: octopus
Section: x11
Priority: optional
Maintainer: Dr. Johann Pfefferl <pfefferl@gmx.net>
Build-Depends: debhelper (>= 10), autotools-dev, pkg-config, libcairo2-dev, libgtk2.0-dev, libxinerama-dev, libxxf86vm-dev, libgdk-pixbuf-xlib-2.0-dev
Standards-Version: 3.9.5
Vcs-Git: https://gitorious.org/octopus-window-manager/octopus-window-manager.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/octopus.git;a=summary

Package: octopus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: x-window-manager
Description: Low resource X11 Window manager using libcairo
 This is a brand new window manager with the following features:
 .
 - good looking (transparency, cairo rendering, ...)
 - OSD CLI (on-screen command line interface) with command completion
 - Tabbed windows: multiple X11 clients can be grouped together in one
   window frame
 - EWMH conform
 - Autofocus and Autoraise control

